@page "/authors/overviewreloaded"

@rendermode @(new InteractiveServerRenderMode(prerender: false))

@if (!string.IsNullOrWhiteSpace(ErrorMessage))
{
    <Alert Style="@Alert.AlertStyle.Danger">@ErrorMessage</Alert>
}

<div class="row">
    <div class="col">
        <AuthorTable AuthorsViewModels="AuthorsVm" OnAuthorDelete="DeleteAuthor"></AuthorTable>
    </div>
</div>
