@page "/authors/overviewreloaded"

@rendermode @(new InteractiveServerRenderMode(prerender: false))

@if (!string.IsNullOrWhiteSpace(ErrorMessage))
{
    <Alert Style="@Alert.AlertStyle.Danger">@ErrorMessage</Alert>
}

<div class="row">
    <div class="col">
        <button class="btn btn-primary" @onclick="NavigateToAuthorNew"><i class="bi bi-plus-circle"></i> Neuer Autor</button>
    </div>
</div>

<div class="row">
    <div class="col">
        <AuthorTable AuthorsViewModels="AuthorsVm" OnAuthorDelete="DeleteAuthor"></AuthorTable>
    </div>
</div>
